html {
    font-size: 10px;
}

.menu {
    color:black;
    background-color:#fff;
    margin: 30px 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  sans-serif;
    outline: none;
    border-bottom: 1px solid transparent;
}

.menu:hover {
    border-bottom: 1.8px solid;
}

/* У меня почему-то не срабатывает(((
.menu:first-child {
    font-weight: bold;
    font-size: 20px;
} */

.link {
    color: #fff;
    background-color: rgb(10, 131, 212);
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 2.2rem;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    outline: none;
    font-weight: bold;
    box-sizing: content-box;
    border-bottom: 1px solid transparent;
}

.link:hover {
    background-color:rgb(23, 105, 160);
    color: white;
}

.link:active {
    background-color:rgb(59, 59, 59);
    color: #fff;
}

.block {
    color: black;
    background-color: white;
    font-size: 20px;
    border-radius: 0 20px 20px 20px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  sans-serif;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
    outline: 2px solid rgba(22, 22, 22, 0.356);
}

.img {
    width: 13%;
    box-sizing: border-box;
    cursor: pointer;
}

.line {
    display: flex;
}
.one {
    display: flex;
    box-sizing: content-box;
    padding: 5px;
    width: 500px;
}

.two {
    display: flex;
    box-sizing: content-box;
    padding: 5px;
    width: 500px;
}

.three {
    display: flex;
    box-sizing: content-box;
    padding: 5px;
    width: 500px;
}

.card_first {
    display: inline-block;
    box-sizing: content-box;
    width: 50%;
    height: 100%;
}

.card_second {
    display: inline-block;
    box-sizing: content-box;
    width: 50%;
    height: 100%;
}

.card_third {
    display: inline-block;
    box-sizing: content-box;
    width: 50%;
    height: 100%;
}


.block_first {
    color: black;
    background-color: white;
    font-size: 20px;
    border-radius: 0 20px 20px 20px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  sans-serif;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
    outline: 2px solid rgba(22, 22, 22, 0.356);
}

.block_second {
    color: black;
    background-color: white;
    font-size: 20px;
    border-radius: 0 20px 20px 20px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  sans-serif;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
    outline: 2px solid rgba(22, 22, 22, 0.356);
}

.block_third {
    color: black;
    background-color: white;
    font-size: 20px;
    border-radius: 0 20px 20px 20px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  sans-serif;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
    outline: 2px solid rgba(22, 22, 22, 0.356);
}