html {
    font-size: 10px;
}

.menu {
    color:black;
    background-color:#fff;
    margin: 30px 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  sans-serif;
    outline: none;
    border-bottom: 1px solid transparent;
}

.menu:hover {
    border-bottom: 1.8px solid;
}

.link {
    color: #fff;
    background-color: #008ddd;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 22px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    outline: none;
    font-weight: bold;
    box-sizing: content-box;
    border-bottom: 1px solid transparent;
}

.link:hover {
    background-color:#008ddd;
    color: white;
}

.link:active {
    background-color:rgb(59, 59, 59);
    color: #fff;
}

.block {
    color: black;
    background-color: white;
    font-size: 20px;
    border-radius: 0 20px 20px 20px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  sans-serif;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
    outline: 2px solid rgba(22, 22, 22, 0.356);
}

.img {
    width: 13%;
    box-sizing: border-box;
    cursor: pointer;
}

.line {
    display: flex;
}
.one {
    box-sizing: content-box;
    border-image-width: 100px;
    border-radius: 50%;
    padding: 20px 150px 20px 150px;
    height: 100px;
    background-size: contain;
}

.two {
    display: flex;
    box-sizing: content-box;
    background-size: contain;
    border-radius: 0 18px 0 0;
    /* padding: 5px; */
    width: 400px;
}

.three {
    display: flex;
    box-sizing: content-box;
    background-size: contain;
    border-radius: 0 18px 0 0;
    width: 400px;
}

.card_first {
    display: inline-block;
    box-sizing: content-box;
    width: 400px;
    height: auto;
}

.card_second {
    display: inline-block;
    box-sizing: content-box;
    height: auto;
}

.card_third {
    display: inline-block;
    box-sizing: content-box;
    height: auto;
}


.block_first {
    color: white;
    background-color:#008ddd;
    font-size: 20px;
    border-radius: 0 30px 30px 30px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  sans-serif;
    font-weight: normal;
    text-decoration: none;
    width: 400px;
    height: auto;
}

.block_second {
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 20px;
    border-radius: 0 20px 20px 20px;
    border-style: solid;
    border-color: rgba(22, 22, 22, 0.356);
    border-width: 1px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  sans-serif;
    text-decoration: none;
    width: 400px;
    height: 480px;
}

.block_third {
    color: black;
    background-color: white;
    font-size: 20px;
    border-radius: 0 20px 20px 20px;
    border-style: solid;
    border-color: rgba(22, 22, 22, 0.356);
    border-width: 1px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  sans-serif;
    text-decoration: none;
    width: 400px;
    height: 520px;
}

.name {
    text-align: center;
    padding: 10px 10px;
    margin: 0px;
    font-size: 30px;
}

.skype {
    text-align: left;
    padding: 20px 10px 10px 20px;
    margin: 0px;
    font-size: 20px;
    color: rgba(29, 26, 26, 0.856);
}

.mail {
    font-style: normal;
    font-size: 19px;
    text-align: center;
    margin: 0px;
    padding: 10px 10px;
}

.change {
    font-style: normal;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    padding: 90px 20px 30px 20px;
}

.number {
    font-style: normal;
    font-size: 19px;
    text-align: left;
    margin: 0px;
    padding: 20px 20px;
    color: rgb(59, 59, 59);
}

.link_one {
    text-align: left;
    padding: 10px 20px 20px 20px;
}

.link_two {
    text-align: left;
    padding: 5px 5px 10px 15px;
    border-radius: 100%;
}